<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for x in all_authors %}
                <tr>
                    <td>{{x.id}}</td>
                    <td>{{x.first_name}} {{x.last_name}}</td>
                    <td><a href="authorinfo/{{x.id}}"> view</a> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <h1>Add a author</h1>
    <form action="/addauthor" method="POST">
        {% csrf_token %}
        <label for="first_name">first name</label>
        <input type="text" name="first_name"><br>
        <label for="last_name">last name</label>
        <input type="text" name="last_name"><br>
        <label for="notes">Notes</label>
        <textarea name="notes" placeholder="Notes"></textarea><br>
        <button>add</button>
    </form>
    <a href="/">Go back </a>


    </body>
</html>